#pragma once

namespace Eloquent {
    namespace ML {
        namespace Port {

            class {{ classname }} {
                public:

                    /**
                     * Predict class for features vector
                     */
                    int predict(float *x) {
                        {% include 'decisiontree/tree.jinja' %}
                    }

                    {% include 'classmap.jinja' %}
            };
        }
    }
}