#pragma once

namespace Eloquent {
    namespace ML {
        namespace Port {

            class {{ classname }} {
                public:

                    /**
                     * Predict class for features vector
                     */
                    int predict(float *x) {
                        float votes[{{ classes|length }}] = { 0.0f };

                        {% include 'gaussiannb/vote.jinja' %}
                        {% include 'vote.jinja' %}
                    }

                    {% include 'classmap.jinja' %}

                protected:

                    /**
                     * Compute gaussian value
                     */
                    float gauss(float *x, float *theta, float *sigma) {
                        float gauss = 0.0f;

                        for (uint16_t i = 0; i < {{ theta[0]|length }}; i++) {
                            gauss += log(sigma[i]);
                            gauss += pow(x[i] - theta[i], 2) / sigma[i];
                        }

                        return gauss;
                    }
            };
        }
    }
}