#pragma once

namespace Eloquent {
    namespace ML {
        namespace Port {

            class {{ classname }} {
                public:

                    /**
                     * Predict class for features vector
                     */
                    int predict(float *x) {
                        float votes[{{ classes|length }}] = { 0.0f };

                        {% include 'logisticregression/vote.%s.jinja' % platform %}
                        {% include 'vote.jinja' %}
                    }

                    {% include 'classmap.jinja' %}

                protected:

                    {% with dimension = weights[0]|length, expr = 'x[i] * wi' %}
                        {% include 'dot.jinja' %}
                    {% endwith %}
            };
        }
    }
}